wandb
tqdm
scikit-image
scikit-learn
PyGLM
matplotlib
libigl
plyfile==0.8.1
open3d
cuda-python==12.8.0
cupy-cuda12x
python-dotenv
warp-lang
wget
polyscope==2.5.0
git+https://github.com/patrick-kidger/torchcubicspline.git
deps/gsplats/submodules/simple-knn
transformers
pillow
